body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #faffed;
  margin: 0;
}

.invisible {
  display: none;
}

/* ------ nav styles ------ */

nav {
  display: flex;
  align-items: center;
  background-color: rgb(96, 96, 96);
  margin-bottom: 2em;
}

#cat-logo{
  width: 5em;
  padding: .5em;
}

.to-right {
  margin-left: auto;
}

.nav-link {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 1em;
  color: white;
  font-size: 1.5rem;
}

#cat-image {
  max-height: 50vh;
  max-width: 95vw;
  display: block;
  margin: 0 auto;
  border-radius: .5em;
}

#loading-text {
  text-align:center;
  font-size: 2rem;
}

#get-cat-btn {
  border: none;
  font-size: 4rem;
  background-color: rgb(32, 32, 32);
  color: white;
  border-radius: .25em;
  padding: .5em 1em;
  display: block;
  margin: 1em auto;
}

#get-cat-btn:hover {
  cursor: pointer;
  background-color:rgb(5, 5, 5);
}